gateways:
  local:
    connection:
      type: postgres
      host: postgres  # Docker service name
      port: 5432
      user: postgres
      password: postgres
      database: nba_analytics

default_gateway: local

model_defaults:
  dialect: postgres
  start: '2024-10-01'

# Physical schema mapping
physical_schema_mapping:
  staging: staging
  intermediate: intermediate
  marts: marts
  features_dev: features_dev
